R-Portable-Mac/library/XML/exampleData/literate.dtd


<!ENTITY % sgets "<-">

<!ELEMENT code (#PCDATA) >
<!ELEMENT doc (#PCDATA)>
<!ELEMENT function ((doc)*, code)+>

<!ELEMENT a EMPTY>
<!ELEMENT P EMPTY>

<!ELEMENT literate (doc|function|code)*>
<!ATTLIST code
     language CDATA #REQUIRED
>

<!ATTLIST doc
     language CDATA #REQUIRED
>
<!ATTLIST a
     href CDATA #REQUIRED
>